@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<h1 class="text-black-50">TYT Technology</h1>
<p class="w-50">we work hard to achieve our goals together as a team with a clear shared purpose. We adapt to our clients changing needs as well changes in the market to make sure we are a business of growth, success and happiness</p>

<div class="row">
    <div class="col-md-4">
        <h2 class="display-4 ml-3"><u>Vision</u></h2>
        <p >Designed for succes, engineered for achieve</p>
    </div>


    <div class="col-md-4">
        <h2 class="display-4 ml-3"><u>Mission</u></h2>
        <p>
            We will achieve our vision by partnering with our clients to recruit, manage and retain their workforce using our outstanding knowledge.
        </p>

    </div>


    <div class="col-md-4">
        <h2 class="display-4 ml-3"><u>Value</u></h2>
        <ul >
            <li>Collaborative</li>
            <li>Passionate</li>
            <li>Open, Honest & Reliable</li>
            <li>Adaptable</li>
        </ul>

    </div>
</div>