@model jobsite.Models.JobPost
@{ 
    var dept = (SelectList)ViewData["DeptId"];
}
<h4>Create Job Post</h4>
<hr />
<div class="row">
    <div class="col-12 col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="PostDate" class="control-label"></label>
            <input asp-for="PostDate" class="form-control" />
            <span asp-validation-for="PostDate" class="text-danger"></span>
        </div>*@
            @*<div class="form-group">
            <label asp-for="Status" class="control-label"></label>
            <select asp-for="Status" asp-items="Html.GetEnumSelectList<JobPostStatus>()" class="form-control"></select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                @*<label asp-for="DeptId" class="control-label">Dept</label>*@
                <label  class="control-label">Dept</label>
                <select asp-for="DeptId" class="form-control" asp-items="dept"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Keywords</label>
                <textarea style="height:10rem;resize:none" asp-for="KeywordsText" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea style="height:15rem;resize:none" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
